
#hd{
    border: 1px black solid;
    height: 350px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

}
.hd_dl{

    height: 125px;
    border: 1px red solid;



}
.cd{
    margin-left: auto;
    margin-right: auto;
}
.border{
    border: 1px red solid;
}
.li{
    float: left;
    list-style-type: none;
    margin-top: -5px;
    padding-right: 30px;

}
.li_a{
    text-decoration: none;
    color: black;
    font-weight: bolder
}
.nav{
    background-image:url('/Public/img/nv.png');
    background-size: 100%;

}