<extend name="admin/base"/>
<block name="main">
    <span>详细信息页</span>

    <div class="right_fu">
        <form method="post" action="/Admin/Admin/change_role_save">
            <label>用户名：</label>
            <foreach name="username" item="arr1">
                <input value="{$arr1.user_id}" name="user_id" style="display: none">
                <input value="{$arr1.username}">
            </foreach>


            <br/> <label>修改角色：</label><br/>

            <foreach name="newrole" item="arr3">
                <if condition="in_array($arr3['name'],$userroles)">
                    <input type="checkbox" style="width: 24px;height: auto;" name="role_id[]" checked="checked"
                           value="{$arr3.id}"/>{$arr3.name}
                    <else/>
                    <input type="checkbox" style="width: 24px;height: auto;" name="role_id[]" value="{$arr3.id}"/>{$arr3.name}
                </if>
            </foreach>


            <br/> <label>另增权限：</label><br/>

            <foreach name="newperm" item="arr5">
                <if condition="in_array($arr5['name'],$userperms)">
                    <input type="checkbox" style="width: 24px;height: auto;" name="perm_id[]" checked="checked"
                           value="{$arr5.id}"/>{$arr5.name}
                    <else/>
                    <input type="checkbox" style="width: 24px;height: auto;" name="perm_id[]" value="{$arr5.id}"/>{$arr5.name}
                </if>
            </foreach>


            <br/> <input type="submit" value="修改">
        </form>
    </div>
</block>