<extend name="admin/base"/>
<block name="main">
    <span>详细信息页</span>
    <div class="right_list">
        <table class="table table-border">
            <tr>
                <th>id</th>
                <th>父版块名</th>
                <th>创建人</th>
                <th>创建时间</th>
                <th>IP地址</th>
                <th>创建人</th>
            </tr>
            <foreach name="user" item="arr">
                <tr>
                    <td>{$arr.id}</td>
                    <td>{$arr.title}</td>
                    <td>{$arr.created_at}</td>
                    <td>{$arr.updated_at}</td>
                    <td>{$arr.u_name}</td>
                    <td>修改 <a name="delete" href="">删除</a></td>
                </tr>
            </foreach>
        </table>
    </div>
</block>