<extend name="Admin/base"/>
<block name="main">
    <span>详细信息页</span>
    <div class="right_list">
        <table class="table table-border">
            <tr>
                <th>id</th>
                <th>子版块名</th>
                <th>创建时间</th>
                <th>修改时间</th>
                <th>所属父版块</th>
                <th>创建人</th>
                <if condition="in_array('修改子版块',$_SESSION['perm'])||in_array('删除子版块',$_SESSION['perm'])">
                    <th>操作</th>
                </if>
            </tr>
            <foreach name="title" item="arr">
                <tr>
                    <td>{$arr.id}</td>
                    <td>{$arr.subtitle}</td>
                    <td>{$arr.created_at}</td>
                    <td>{$arr.updated_at}</td>
                    <td>{$arr.title}</td>
                    <td>{$arr.u_name}</td>
                    <if condition="in_array('修改子版块',$_SESSION['perm'])">
                        <td style="width: 40px"><a href="/admin/admin/change_son/id/{$arr.id}/mid/{$arr.mid}">修改</a></td>
                    </if>
                    <if condition="in_array('删除子版块',$_SESSION['perm'])">
                        <td style="width: 40px"><a href="/Admin/admin/delete_son/id/{$arr.id}">删除</a></td>
                    </if>

                </tr>
            </foreach>
        </table>
    </div>
</block>