<div style=" width: 330px;height: 250px;margin-left: auto;margin-right: auto;background-color: white">
    <form method="post" action="/admin/index/forgetPwCheck">
        <div style=" width: 100px;height: 20px;margin-top: 10px;margin-left: 20px;float: left"><label>用户名：</label></div>
        <div style=" width: 200px;float: left;margin-top: 10px;margin-left: 10px;"><input type="text" name="name"
                                                                                          style="height: 20px;width: 150px;"/>
        </div>

        <div style="width: 100px;height: 20px;margin-top: 10px;margin-left: 20px;float: left"><label>密保问题：</label></div>
        <div style="width: 200px;float: left;margin-top: 10px;margin-left: 10px;"><select name="question" style="width: 155px;height: 20px">
            <foreach name="results" item="result">
                <option value="{$result.question}">{$result.question}</option>
            </foreach>
        </select>
        </div>

        <div style=" width: 100px;height: 20px;margin-top: 10px;margin-left: 20px;float: left"><label>答案：</label></div>
        <div style=" width: 200px;float: left;margin-top: 10px;margin-left: 10px;"><input type="text" name="answer"
                                                                                          style="height: 20px;width: 150px;"/>
        </div>

        <div style=" width: 100px;height: 20px;margin-top: 10px;margin-left: 20px;float: left"><label>密码：</label></div>
        <div style=" width: 200px;float: left;margin-top: 10px;margin-left: 10px;"><input type="password" name="password"
                                                                                          style="height: 20px;width: 150px;"  placeholder="请输入6至12位密码"/>
        </div>

        <div style=" width: 100px;height: 30px;margin-top: 10px;margin-left: 20px;float: left"><label>确认密码：</label></div>
        <div style=" width: 200px;float: left;margin-top: 10px;margin-left: 10px;"><input type="password" name="repassword"
                                                                                          style="height: 20px;width: 150px;"/>
        </div>

        <div style="width: 200px;float: left;margin-top: 10px;margin-left: 10px;"><input type="submit" value="确认修改"
                                                                                         style="height: 30px;width: 100px;"/>
        </div>
    </form>
</div>


