<link href="/Public/gerenzhuye.css" rel="stylesheet" type="text/css">
<div>
    <div class="home" style="border: 1px solid #cccccc;">
        <div style="height: 107px;width: 1000px;border-bottom: 1px solid #cccccc;background-color: #f8f8f8">
            <div class="touxiang">
                <a href="#"><if condition="$user.image NEQ null"><img src="{$user.image}" style="box-shadow: 1px 1px 3px  gray;width: 54px;height: 54px"><else/><img src="/Public/img/user.png" style="box-shadow: 1px 1px 3px  gray;width: 54px;height: 54px"></if></a>
            </div>
            <div class="username_div">
                <label class="username">{$Think.session.username}</label><br/>
                <a class="jieshao_a"style="cursor: pointer" >http://bbs.guiyingclub.net/?11026</a>
            </div>
        </div>
        <div style="height: auto;width: 1000px;">
            <div class="xinxi" style="height:100px;">
                <div class="username_div" style="float: none;">
                    <label class="username" style="margin-left: -10px;font-size: 93%">{$Think.session.username}</label>
                    <img src="/Public/img/blue.gif">
                    <label style="font-size: 93%;color: #66667f">(UID:{$Think.session.id})</label>
                    <label><a href="/admin/index/personMsg?id={$user.id}&ac=1" class="jieshao_a" style="color: red;margin-left: 50px">修改个人信息</a></label>
                </div>
                <div style="margin-top: 5px;width: 400px;float: left">
                    <label class="username" style=";font-size: 80%;font-weight: normal">邮箱：</label>
                    <if condition="$user.email NEQ null">
                        <label class="username" style=";font-size: 80%;font-weight: normal">{$user.email}</label>
                        <else/>
                    <label class="username" style=";font-size: 80%;font-weight: normal">未验证</label>
                        </if>
                </div>
                <div style="margin-top: 5px;width: 400px;float: left">
                    <label class="username" style=";font-size: 80%;font-weight: normal">微博：</label>
                    <label class="username" style=";font-size: 80%;font-weight: normal">未验证</label>
                </div>
                <div style="width: 800px;margin-top: 50px;margin-left: 5px">
                    <div style="float: left;margin-left:-5px">
                        <label class="jieshao_a">统计信息</label>
                        &nbsp;<a href="#" class="jieshao_a">好友数 0</a>
                        <label class="jieshao_a"style="color: #daccda">|</label>&nbsp;&nbsp;
                    </div>
                    <div style="float: left;margin-left:-5px">
                        &nbsp;<a href="#" class="jieshao_a">相册数 0</a>
                        <label class="jieshao_a"style="color: #daccda">|</label>&nbsp;&nbsp;
                    </div>
                    <div style="float: left;margin-left:-5px">
                        &nbsp;<a href="#" class="jieshao_a">回帖数 0</a>
                        <label class="jieshao_a"style="color: #daccda">|</label>&nbsp;&nbsp;
                    </div>
                    <div style="float: left;margin-left:-5px">
                        &nbsp;<a href="#" class="jieshao_a">分享数 0</a>

                    </div>

                </div>
            </div>
            <div class="xinxi" style="height:40px;">
                <div style="line-height: 40px;width: 400px;float: left">
                    <label class="jieshao_a">性别</label>&nbsp;&nbsp;&nbsp;
                    <if condition="$user.gender NEQ null">
                        <label class="jieshao_a"><?php echo $user['email'] == 'F'?'女':'男'?></label>
                        <else/>
                    <label class="jieshao_a">保密</label>
                        </if>
                </div>
                <div style="line-height: 40px;width: 400px;float: left">
                    <label class="jieshao_a">生日</label>&nbsp;&nbsp;&nbsp;
                    <if condition="$user.age NEQ null">
                        <label class="jieshao_a">{$user.age}</label>
                        <else />
                    <label class="jieshao_a">--</label>
                        </if>
                </div>
            </div>

            <div class="xinxi" style="height:125px;">
                <div class="username_div" style="float: none;">
                    <label class="username" style="margin-left: -10px;font-size: 93%">活动概况</label>

                </div>
                <div style="margin-top: 10px;width:auto;float: left">
                    <label class="username" style=";font-size: 80%;font-weight: normal;color: #999999">用户组</label>&nbsp;&nbsp;
                    <a href="" class="xiaohongzi">组名</a>
                </div>
                <div style="float:left;margin-left: 5px;margin-top: 5px">
                    <img src="/Public/img/level.gif">
                </div>
                <div style="width: 950px;height: auto;float: left">
                    <div style="width: 300px;float: left;">
                        <label class="jieshao_a">在线时间</label>&nbsp;&nbsp;
                        <label class="jieshao_a">11小时</label><br/>
                        <label class="jieshao_a">注册IP</label>&nbsp;&nbsp;
                        <label class="jieshao_a">{$user.ip} - - 亚太地区</label><br/>
                        <label class="jieshao_a">上次发表时间</label>&nbsp;&nbsp;
                        <label class="jieshao_a">{$arrs.created_at}</label><br/>
                    </div>
                    <div style="width: 350px;float: left;">
                        <label class="jieshao_a">注册时间</label>&nbsp;&nbsp;
                        <label class="jieshao_a">{$user.created_at}</label><br/>
                        <label class="jieshao_a">上次访问 IP</label>&nbsp;&nbsp;
                        <label class="jieshao_a">{$user.ip} - - {$user.address}</label><br/>
                        <label class="jieshao_a">所在时区</label>&nbsp;&nbsp;
                        <label class="jieshao_a">使用系统默认</label><br/>
                    </div>
                    <div style="width: 300px;float: left;">
                        <label class="jieshao_a">最后访问</label>&nbsp;&nbsp;
                        <label class="jieshao_a">{$user.created_at}</label><br/>
                        <label class="jieshao_a">上次活动时间</label>&nbsp;&nbsp;
                        <label class="jieshao_a">{$user.created_at}</label><br/>

                    </div>
                </div>


            </div>
            <div class="xinxi" style="height:100px;border: none">
                <div class="username_div" style="float: none;">
                    <label class="username" style="margin-left: -10px;font-size: 93%">统计信息</label>

                </div>


                <div style="width: 950px;height: auto;float: left;margin-top: 10px">
                    <div style="width: 300px;float: left;">
                        <label class="jieshao_a">已用空间</label>&nbsp;&nbsp;
                        <label class="jieshao_a">0 B</label><br/>
                        <label class="jieshao_a">精力</label>&nbsp;&nbsp;
                        <label class="jieshao_a">35</label><br/>
                        <label class="jieshao_a">铜钱</label>&nbsp;&nbsp;
                        <label class="jieshao_a">49</label><br/>
                    </div>
                    <div style="width: 350px;float: left;">
                        <label class="jieshao_a">积分</label>&nbsp;&nbsp;
                        <label class="jieshao_a">201</label><br/>
                        <label class="jieshao_a">贡献</label>&nbsp;&nbsp;
                        <label class="jieshao_a">0</label><br/>
                        <label class="jieshao_a">经验</label>&nbsp;&nbsp;
                        <label class="jieshao_a">1</label><br/>
                    </div>
                    <div style="width: 300px;float: left;">
                        <label class="jieshao_a">威望</label>&nbsp;&nbsp;
                        <label class="jieshao_a">1</label><br/>
                        <label class="jieshao_a">金币</label>&nbsp;&nbsp;
                        <label class="jieshao_a">38</label><br/>
                        <label class="jieshao_a">元宝</label>&nbsp;&nbsp;
                        <label class="jieshao_a">0</label><br/>

                    </div>
                </div>


            </div>

        </div>

    </div>
</div>