<div id="bd" style="margin:0 auto;">
    <div style="float: left;width: 705px;height: 230px;" class="bd_border">
        <div id="boxID" style="width: 300px;height: 180px;margin-left: 22px;margin-top: 18px;float: left "
             class="bd_border">
            <div class="loading">
                <img src="/Public/myfocus/mf-pattern/img/loading.gif" alt="标题">
            </div>
            <div class="pic">
                <ul>
                    <li><a href="#"><img src="/Public/img/lufei.png" alt="标题1"/></a></li>
                    <li><a href="#"><img src="/Public/img/lufei.png" alt="标题"/></a></li>
                    <li><a href="#"><img src="/Public/img/lufei.png" alt="标题"/></a></li>
                    <li><a href="#"><img src="/Public/img/lufei.png" alt="标题"/></a></li>
                </ul>
            </div>
        </div>
        <div style="float: left;width: 370px;height: 190px;margin-top: 6px">
            <div style="width: 368px;height: 30px">
                <ul class="tabs">
                    <li class="lid" style="font-weight: normal">最新帖子</li>
                    <li class="lid" style="font-weight: normal">最新回复</li>
                    <li class="lid" style="font-weight: normal">热门帖子</li>
                    <li class="lid" style="font-weight: normal">活跃会员</li>
                </ul>
            </div>
            <div class="bd_border" style="width: 300px;height:167px;border:1px solid #ccc;margin-top: -10px;margin-left: auto;margin-right: auto">
                  <foreach name="title" item="arr">
                      <div style="padding:5px 0 0 10px;border-bottom: 1px dashed #ccc;">
                          <a href="/Admin/index/tiezi/id/{$arr.id}">{$arr.title}</a>
                      </div>
                  </foreach>
            </div>
        </div>
    </div>
    <div style="float: left;width: 276px;height: 230px; margin-left: 15px" class="bd_border">
        <div style="width: 276px;height: 49px">
            <img src="/Public/img/day.png" style="width: 276px;height: 49px">

        </div>

    </div>

    <div style="float: left;width: 1000px;height: 90px;margin-top: 20px" class="bd_border">
        <a href="#"><img src="/Public/img/hengfu2.jpg" style="width: 1000px;height: 90px"></a>
    </div>


    <div style="margin-top: 20px;width: 1000px;height: 120px;float: left" class="bd_border">
        <div class=" nav" style="height: 40px;width: 1000px;float:left;">
            <div style=";margin-top: 9px;margin-left: 7px">
                <label class="jieshao_a" style="font-weight: bolder;">论坛动态</label>
            </div>
        </div>
        <div style="float: left;width: 332px;height: 78px">
            <div style="float: left;width: 50px;height: 50px;margin-top: 15px;margin-left: 15px">
                <img src="/Public/img/tubiao.png" style="width: 50px;height: 50px">
            </div>
            <div style="float: left;width: 240px;height: 70px;margin-left: 5px;margin-top: 2px ">
                <div style="margin-top: 10px;margin-left: 10px">
                    <a href="#" class="lid" style="text-decoration: none;font-weight: bolder">论坛公告</a><br/>
                    <a href="#" class="xiaohongzi">最新公告内容的一小句....</a><br/>
                </div>
            </div>
        </div>
        <div style="float: left;width: 331px;height: 78px">
            <div style="float: left;width: 50px;height: 50px;margin-top: 15px;margin-left: 15px">
                <img src="/Public/img/tubiao.png" style="width: 50px;height: 50px">
            </div>
            <div style="float: left;width: 240px;height: 70px;margin-left: 5px;margin-top: 2px ">
                <div style="margin-top: 10px;margin-left: 10px">
                    <a href="#" class="lid" style="">论坛活动</a><br/>
                    <a href="#" class="xiaohongzi">最新活动内容的一小句....</a><br/>
                </div>
            </div>
        </div>
        <div style="float: left;width: 331px;height: 78px">
            <div style="float: left;width: 50px;height: 50px;margin-top: 15px;margin-left: 15px">
                <img src="/Public/img/tubiao.png" style="width: 50px;height: 50px">
            </div>
            <div style="float: left;width: 240px;height: 70px;margin-left: 5px;margin-top: 2px ">
                <div style="margin-top: 10px;margin-left: 10px">
                    <a href="#" class="lid">论坛报道</a><br/>
                    <a href="#" class="xiaohongzi">最新报道内容的一小句....</a><br/>
                </div>
            </div>
        </div>
    </div>
    <?php
foreach($zhus as $zhu) {
?>

    <div style="margin-top: -2px;width: 1000px;height:auto;float: left" class="bd_border">
        <div class=" nav" style="height: 40px;width: 1000px;float:left;">
            <div style=";margin-top: 9px;margin-left: 7px">
                <label class="jieshao_a" style="font-weight: bolder;"><?=$zhu['title']?></label>
            </div>
        </div>
    </div>
    <?php
}
?>

    <?php
    foreach($results as $result) {
    ?>
    <div style=" float:left;width: 999px;height: 88px ;border-bottom: 1px dashed #CDCDCD;background-color:white;">
        <div style="float: left;width: 50px;height: 50px;margin-top: 15px;margin-left: 15px">
            <img src="/Public/img/tubiao.png" style="width: 50px;height: 50px">
        </div>
        <div style="float: left;width: 240px;height: 0;margin-left: 5px;margin-top: 2px;">
            <div style="margin-top: 10px;margin-left: 10px;width: 200px;height: 100px;">
                <a href="/Admin/index/ziluntan/id/<?=$result['id']?>/uid={$Think.session.id}" class="lid"><?=$result['title']?></a><br/>
                <label class="jieshao_a">子版块介绍</label><br/>
                <label class="jieshao_a">版主:</label>

                <div style="height:20px;width: 100px;margin-left: 35px;margin-top: -19px">
                    <a href="#" class="xiaohongzi" >版主姓名</a>
                </div>
            </div>
        </div>
        <div class="" style="float: right;width: 310px;height: 0px;margin-left: 5px;margin-top: 2px; ">
            <div style="width: 300px;height: 80px;">
                <div style="width: 100px;height: 30px;margin-top: 23px;float: left">
                    <label class="xiaohongzi">帖子数/</label>
                    <label class="jieshao_a">评论数</label>
                </div>
                <div style="width: 180px;height: 60px;margin-top: 15px;;margin-left:18px;float: left">
                    <a href="#" class="xiaohongzi">此版块置顶帖标题</a><br/>
                    <label class="jieshao_a">日期时间</label>
                    <a href="#" class="xiaohongzi">发布者</a>
                </div>
            </div>
        </div>
    </div>
    <?php
}
?>
</div>
<script type="text/javascript">
    myFocus.set({
        id: 'boxID',
        pattern: 'mF_fancy',
        time: 3,
        trigger: 'mouseover',
        delay: 200,
        txtHeight: 'default'
    })
</script>
