<div id="bd" class="border">
    <div style="float: left;width: 705px;height: 230px; " class="bd_border">
        <div id="boxID" style="width: 300px;;height: 180px;margin-left: 22px;margin-top: 18px;float: left "
             class="bd_border">
            <div class="loading">
                <img src="/Public/myfocus/mf-pattern/img/loading.gif" alt="标题">
            </div>
            <div class="pic">
                <ul >
                    <li><a href="#"><img src="/Public/img/lufei.png" alt="标题1"/></a></li>
                    <li><a href="#"><img src="/Public/img/lufei.png" alt="标题"/></a></li>
                    <li><a href="#"><img src="/Public/img/lufei.png" alt="标题"/></a></li>
                    <li><a href="#"><img src="/Public/img/lufei.png" alt="标题"/></a></li>
                </ul>
            </div>
        </div>
        <div style="float: left;width: 370px;height: 190px;margin-top: 22px" >
            <div style="width: 368px;height: 30px">
             <ul class="tabs">
                 <li class="lid">最新帖子</li>
                 <li class="lid">最新回复</li>
                 <li class="lid">热门帖子</li>
                 <li class="lid">活跃会员</li>
             </ul>
            </div>
            <div class="bd_border" style="width: 350px;margin-top: -10px;margin-left: auto;margin-right: auto"></div>

        </div>
    </div>
    <div style="float: left;width: 276px;height: 230px; margin-left: 15px" class="bd_border">
        <div style="width: 276px;height: 49px">
            <img src="/Public/img/day.png" style="width: 276px;height: 49px">

        </div>

    </div>

    <div style="float: left;width: 1000px;height: 90px;margin-top: 20px" class="bd_border">
        <a href="#"><img src="/Public/img/hengfu2.jpg" style="width: 1000px;height: 90px"></a>
    </div>

</div>
<script type="text/javascript">
    myFocus.set({
        id: 'boxID',
        pattern: 'mF_fancy',
        time: 3,
        trigger: 'mouseover',
        delay: 200,
        txtHeight: 'default'
    })
</script>