<link href="/Public/css/personMsg.css" rel="stylesheet" type="text/css"/>

<div id="bd">
    <div id="form">
        <form method="post" action="/admin/index/personMsgInsert?">
            <if condition="$action EQ 1">
                <input type="hidden" name="id" value="{$result.id}">
                <else/>
                <input type="hidden" name="id" value="">
            </if>
            <div class="label"><label>用户名: </label></div>
            <div class="input"><input type="text" name="name" value="{$result.name}" id="username"/><span id="name"></span></div>
            <div class="label"><label>性别: </label></div>
            <div class="input"><select name="gender" id="gender">
                <if condition="$result.gender EQ F">
                    <option value="F" selected="selected">女</option>
                    <option value="M">男</option>
                    <else/>
                    <option value="F">女</option>
                    <option value="M" selected="selected">男</option>
                </if>
            </select></div>
            <div class="label"><label>生日: </label></div>
            <div class="input">
                <select name="year">
                    <?php
                    foreach($nians as $nian) {
                    ?>
                    <option value="<?=$nian?>"><?=$nian?></option>
                    <?php
                    }
                    ?>
                </select>

                <select name="month">
                    <?php
                    foreach($yues as $yue) {
                    ?>
                    <option value="<?=$yue?>"><?=$yue?></option>
                    <?php
                    }
                    ?>
                </select>

                <select name="day">
                    <?php
                    foreach($ris as $ri) {
                    ?>
                    <option value="<?=$ri?>"><?=$ri?></option>
                    <?php
                    }
                    ?>
                </select>
            </div>
            <div class="label"><label>地址: </label></div>
            <div class="input"><input type="text" name="address" value="{$result.address}"/></div>
            <div class="label"><label>邮箱: </label></div>
            <div class="input"><input type="email" name="email" value="{$result.email}"/></div>
            <div class="label"><label>手机: </label></div>
            <div class="input"><input type="text" name="mobile" value="{$result.mobile}"/></div>

            <div id="sbmt">
                <input type="submit" value="提交" class="btn"/>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $('#username').bind('change', function() {
            $.post("/admin/index/personMsgCheck", {name: $('#username').val()} , function(el) {
                if (el == "success") {
                    $('#username~#name').html('');
                } else {
                    $('#username~#name').html(el);
                }
            })
        });
    })
</script>