<link href="/Public/ziluntan.css" rel="stylesheet" type="text/css">

<div style="margin:0 0 10px 150px;height:30px;position: relative;">
    <img src="/Public/img/home.png" height="28"/><a href="/Admin/index/luntan" style="margin:0 0 0 3px;position: absolute;top:3px;">首页</a> <span style="position: absolute;left:70px;top:3px;">/ {$tiezi.title}</span>
</div>

<div id="bd" style="height:auto">
    <div>
        <div style="height:auto;width: 999px" class="tiezi_border">
            <foreach name="user" item="arr">
                <div style="height: auto;width: 1000px">
                    <div style="height: 55px;width: 156px ;float: left;border-bottom: 4px #e6e6e6 solid ;margin-left: -2px;margin-top: -1px"
                         class="tiezi_border">
                        <div style="margin-top: 10px;margin-left: 13px">
                            <label class="jieshao_a">查看:</label>
                            <label class="xiaohongzi">318</label>&nbsp;
                            <label class="jieshao_a" style="color: #c8c8c8">|</label>&nbsp;
                            <label class="jieshao_a">回复:</label>
                            <label class="xiaohongzi">67</label>
                        </div>
                    </div>
                    <div style="height: 55px;width: 840px ;float: left;border-bottom: 4px #f8f8f8 solid ">
                        <div style="width: 750px;height: 40px;margin-top: 3px;margin-left: 5px;float: left  ">
                            <div style="margin-left: 10px;margin-top: 5px">
                                <label style="font-size: large;font-weight: bolder;color: #666666">【主题】{$arr.title}</label>
                            </div>
                        </div>
                        <div style="float: left;width: 70px;margin-top: 15px">
                            <a href="#" class="xiaohongzi" style="color: #666666">[复制链接]</a>
                        </div>
                    </div>


                    <div style="height:auto;width: 1000px;">
                        <div style="float: left;height: 600px;width: 154px;margin-top: -1px;margin-left: -1px"
                             class="shutiao">
                            <div style="height: 40px;width: 155px;border-bottom:1px dashed #CDCDCD;">
                                <div style="margin-top: 8px;margin-left: 10px ;float: left;width: 130px;height: 23px">
                                    <a href="#" class="louzhu">{$arr.name}</a>
                                </div>
                            </div>

                            <div style="width: 154px;height: 180px">
                                <div style="margin-left: 12px;margin-top: 12px ;width: 145px">
                                    <a href="#">
                                        <if condition="$Think.session.image NEQ null"><img src="{$Think.session.image}"
                                                                                           style="box-shadow: 1px 1px 3px  gray;width: 54px;height: 54px">
                                            <else/>
                                            <img src='/Public/img/user.png'
                                                 style="width: 131px;height: 137px;border-bottom: 1px solid #d1d1d1">
                                        </if>
                                    </a>
                                </div>
                                <div style="margin-top: 10px;width: 145px">
                                    <a href="#"><img src="/Public/img/level.gif"></a>
                                </div>
                                <div style="width: 50px;float: left;margin-top: 10px">
                                    <ul class="li_shutiao" >
                                        <li>UID</li>
                                        <li>注册时间</li>
                                        <li>最后登录</li>
                                    </ul>
                                </div>

                            <div style="width: 60px;float: left;margin-top: 10px;margin-left: 20px">
                                <ul class="li_shutiao">
                                    <li id="tiezi">{$arr.id}</li>
                                    <li>{$arr.created_at}</li>
                                    <li>2015-12-12</li>
                                </ul>
                            </div>
                            </div>
                        </div>
                        <div style="width: 844px;float: right;border-left:1px solid #ccc;">
                            <div style="height: 40px;width: 800px;border-bottom:1px dashed #ccc;margin-left: auto;margin-right: auto">
                                <div style="margin-top: 8px;margin-left: 10px ;float: left;width: 230px;height: 23px">
                                    <label class="jieshao_a">发表于</label>&nbsp;
                                    <label class="jieshao_a">5天前</label>&nbsp;
                                    <label class="jieshao_a" style="color: #c8c8c8">|</label>&nbsp;
                                    <a href="#" class="jieshao_a"><label class="jieshao_a">只看该作者</label></a>
                                </div>
                            </div>
                            <div style="width: 814px;height: auto;margin-top: 10px;margin-left: 17px;border-bottom:1px dashed #CDCDCD">
                                <table>
                                    <tbody>
                                    <tr>
                                        <td class="jieshao_a" style="font-size: 14px">
                                            {$arr.content}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div style="height: 40px;width: 810px;margin:auto;float:left;">
                        <!---->
                        <div style="margin-top: 8px;margin-left: 10px ;width: 230px;height: 23px;" id="huifu">
                            <a href="#" class="jieshao_a"><label class="jieshao_a" style="color: black" id="huifus">回复</label></a>&nbsp;
                            <input type="hidden" value="{$Think.session.id}"/>
                            <a href="#" class="jieshao_a"><label class="jieshao_a" style="color: red"
                                                                 id="zhichi">支持<span>({$arr.jianum})</span></label></a>&nbsp;
                            <a href="#" class="jieshao_a"><label class="jieshao_a"
                                                                 id="obey">反对<span>({$arr.jiannum})</span></label></a>&nbsp;


                            <a href="/admin/index/shantie?id={$Think.get.id}" class="jieshao_a"><label class="jieshao_a">删帖</label></a>&nbsp;
                        </div>
                    </div>
                </div>
            </foreach>
</div>
        <!--评论开始-->
        <foreach name="pinlun" item="arr">
            <div style="height:auto;width: 1000px;border:1px solid #ccc;float:left;background-color:white;">
                <div style="float: left;width: 154px;margin-top: -1px;margin-left: -1px">

                    <div style="margin-top: 8px;margin-left: 10px ;float: left;width: 120px;height:100%;">
                        <a href="#" class="louzhu">{$arr.name}</a>
                    </div>


                    <div style="margin-left: 12px;margin-top: 30px ;width: 145px;">
                        <a href="#"><img src='{$arr.image}' style="width: 131px;border-bottom: 1px solid #d1d1d1"></a>
                    </div>

                </div>

                <div style="width: 844px;float: right;height:auto;">
                    <div style="height: 40px;width: 800px;border-bottom:1px dashed #ccc;margin-left: auto;margin-right: auto">
                        <div style="margin-top: 8px;margin-left: 10px ;float: left;width: 230px;height: 23px">
                            <label class="jieshao_a">发表于</label>&nbsp;
                            <label class="jieshao_a">{$arr.comment_time}</label>&nbsp;
                            <label class="jieshao_a" style="color: #c8c8c8">|</label>&nbsp;
                        </div>
                        <div style="float:right;">{$key}楼</div>
                    </div>
                    <div style="width: 814px;height:100%;margin-top: 10px;margin-left: 17px;">
                        <table>
                            <tbody>
                            <tr>
                                <td class="jieshao_a" style="font-size: 14px">
                                    {$arr.content}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="shanchu" style="margin: 75px 0 0 800px">
                        <a href="/admin/index/shanchu?time={$arr.comment_time}&id={$Think.get.id}">删除</a>
                    </div>
                </div>
            </div>
        </foreach>
        <!--评论结束-->
    </div>
    <div style="color:red;">{$page->show()}</div>

    <!--发表评论开始-->
    <if condition="$Think.session.auth NEQ null">
    <div style="margin:10px 0 10px 0;float:left;width:1000px;">
            <div style="height: 300px;width: 150px;margin-top: -1px;margin-left: -1px;border: 1px #c8c8c8 solid;" class="shutiao">
                <div style="margin-left: 12px;margin-top: 12px ;width: 145px">
                    <a href="#"><img src='{$Think.session.image}' style="width: 131px;height: 137px;border-bottom: 1px solid #d1d1d1"></a>

                    <a href="#" style="width:120px;display: inline-block;text-align:center;">{$Think.session.username}</a>
                </div>
            </div>

            <div style="margin-top: -1px ;height: 300px;width: 845px;margin-left: -1px;" class="zlt_border">
                <form method="post" action="/Admin/index/pinlun_save/note_id/{$Think.get.id}">
                    <div style="margin-top: 20px;margin-left: 20px" class="content">
                        <script id="container" name="content" type="text/plain"></script>
                    </div>
                    <input type="hidden" value="{$Think.session.id}" name="user_id"/>

                    <div style="margin-top: 5px;margin-left: 20px;" class="btn">
                        <button style="background-color: #06c; background-position: 0 -48px; border-color: #235994; color: #fff !important;">
                            <strong>发表回复</strong>
                        </button>
                    </div>
                </form>
            </div>
        <!--发表评论结束-->
    </div>
    </if>
</div>
<script type="text/javascript">
    $(function () {
        var ue = UE.getEditor('container', {
            initialFrameWidth: 600,
            initialFrameHeight: 140,
            toolbars: [
                ['source', 'forecolor', 'redo', 'bold']
            ]
        });
        var id = $('#tiezi').text();
        $('#zhichi').bind('click', function () {
            $.post('/admin/index/forObey', {id: id, ac: 'jia'}, function (el) {
                if (el) {
                    window.location.reload();
                }
            });
        });

        $('#obey').bind('click', function () {
            $.post('/admin/index/forObey', {id: id, ac: 'jian'}, function (el) {
                if (el) {
                    window.location.reload();
                }
            })
        })

        $("#huifus").bind("click",function() {
            var id = $("#huifu input").val();
            if(id == 0) {
                alert('请登录后回复');
                return false;
            } else {
                alert('登陆在底下');
                return true;
            }
        })
    })

</script>

