<link href="/Public/ziluntan.css" rel="stylesheet" type="text/css">
<div id="bd"  style="height: 1450px">
    <div id="bankaidaohang" style="float: left;width: 135px;height: auto;">
        <div style="width: 134px;height: 43px;background-color: #F5F9FB;">
            <div style="width: 70px;height: 30px;margin-left: 10px">
                <label style="font-size: 95%;font-weight: bolder;color: #666666;line-height: 40px">版块导航</label>
            </div>
        </div>


       <div>
           <div class="zbkdh">
               <div style="width: 70px;height: 30px;margin-top: 5px;margin-left: 15px">
                   <a href="#" class="jieshao_a">板块1</a>
               </div>
           </div>
           <div class="bkdh xianshi" style="height: auto;width: 135px;float: left;">
               <div style="margin-left: 10px;margin-top: 5px">
                   <a href="#" class="jieshao_a">子版块1</a><br/>
                   <a href="#" class="jieshao_a">子版块2</a><br/>
                   <a href="#" class="jieshao_a">子版块3</a><br/>
               </div>
           </div>
       </div>

    </div>


    <div style="float: right;width:845px;height: 1350px">
        <div class=" nav" style="height: 40px;width: 846px;float:left;">
            <div style=";margin-top: 9px;margin-left: 7px;float: left;width: 50px">
                <label class="jieshao_a" style="font-weight: bolder;">板块名</label>
            </div>
            <div style=";margin-top: 9px;margin-left: 15px; width: 70px;float: left">
                <label class="jieshao_a">今日：</label>
                <label class="jieshao_a" style="color: red;font-weight: bolder">5</label>
                <img src="/Public/img/up.png">
            </div>


            <div style=";margin-top: 9px;margin-left: 15px; width: 80px;float: left">
                <label class="jieshao_a">主题：</label>
                <label class="jieshao_a" style="color: red;font-weight: bolder">235</label>
            </div>

            <div style=";margin-top: 9px;margin-left: 15px; width: 70px;float: left">
                <label class="jieshao_a">排名：</label>
                <label class="jieshao_a" style="color: red;font-weight: bolder">5</label>
                <img src="/Public/img/fall.png">
            </div>

            <div style=";margin-top: 9px; width: 40px;float: right">
                <a href="#" class="jieshao_a">订阅</a>

            </div>
            <div style=";margin-top: 11px; width: 18px;float: right">
                <img src="/Public/img/feed.gif">

            </div>

            <div style=";margin-top: 9px; width: 90px;float: right">
                <a href="#" class="jieshao_a">收藏本版</a>
                <label class="xiaohongzi" style="font-weight: bolder">(16)</label>

            </div>
            <div style=";margin-top: 11px; width: 18px;float: right">
                <img src="/Public/img/fav.gif">

            </div>
        </div>
        <div style="margin-top: -1px;" class="zlt_border">
            <div>
                <label class="jieshao_a">版主：</label>
                <a href="#" class=" xiaohongzi">版主名</a>
            </div>
        </div>


        <div style="float: left;height: 63px;border-bottom:2px solid #CDCDCD;width: 845px">
            <div style="width: 84px;height: auto;float: left;margin-top:10px">
                <a href="/Admin/index/fatie/id/{$Think.get.id}/uid/{$Think.session.id}"><img src="/Public/img/fatie.png"></a>
            </div>
        </div>

        <div style=";height: 800px;margin-top: 30px;background-color: white" class="zlt_border">
            <div class="zlt_border" style="height: 40px;background-color: #EFEFEF;margin-left: -1px;border-top: 1px white solid "  >
                <div style="float: left;margin-top: 9px;margin-left: 7px ;">
                    <a href="#" class="xiaohongzi">全部主题</a>&nbsp;&nbsp;&nbsp
                    <a href="#" class="xiaohongzi">最新</a>&nbsp;&nbsp;&nbsp;
                    <a href="#" class="xiaohongzi">热门</a>&nbsp;&nbsp;&nbsp;
                    <a href="#" class="xiaohongzi">热帖</a>&nbsp;&nbsp;&nbsp;
                    <a href="#" class="xiaohongzi">精华</a>&nbsp;&nbsp;&nbsp;
                    <a href="#" class="xiaohongzi">更多</a>&nbsp;&nbsp;&nbsp;
                </div>
                <div style="float: right;margin-top: 9px;margin-right: 57px">
                    <label class="jieshao_a">回复/查看</label>&nbsp;&nbsp;&nbsp;
                    <label class="jieshao_a">最后发表</label>

                </div>
                <div style="float: right;margin-top: 9px;margin-right: 83px">
                    <label class="jieshao_a">作者</label>
                </div>
            </div>

            <div id="gonggaowei" class="zlt_border"
                 style=";height: auto;background-color: white;margin-left: -1px;margin-top: -1px">
                <div style="height: 40px;width: 830px;border-bottom: 1px #E6E6E6 solid;margin-right: auto;margin-left: auto">
                    <div style="float: left;margin-top: 8px">
                        <img src="/Public/img/laba.gif">
                    </div>
                    <div style="float: left;margin-top: 10px;margin-left: 4px">
                        <label style="font-size: 95%;font-weight: bolder;color: #666666">公告：</label>
                    </div>
                    <div style="float: left;margin-top: 16px;margin-left: 4px;width: 300px">
                        <a href="#" class="lid"> 公告标题</a>
                    </div>
                    <div style="float: left;margin-left:166px">
                        <a href="#" class="jieshao_a" style="font-size: 75%">作者名</a><br/>
                        <label class="jieshao_a" style="font-size: 70%">2016-4-1</label>
                    </div>

                </div>


                <div id="zhiding">
                    <div class="hang">
                        <div style="float: left;margin-top: 8px">
                            <img src="/Public/img/up.gif">
                        </div>
                        <div style="float: left;margin-left: 4px;width: 400px">
                            <div style="float: left;margin-top: 13px;margin-left: 14px">
                                <a href="#" class="lid" style="background-color: yellow">置顶帖标题</a>
                            </div>
                            <div style="float: left;margin-top: 10px">
                                <img src="/Public/img/image.gif" title="图片附件">
                            </div>
                        </div>

                        <div style="float: left;margin-left:119px;width: 100px">
                            <a href="#" class="jieshao_a" style="font-size: 75%">作者名</a>
                            <img src="/Public/img/guan.png"><br/>
                            <label class="jieshao_a" style="font-size: 70%">2016-4-1</label>
                        </div>
                        <div style="float: left;margin-left:12px;width: 65px;margin-top: 8px">
                            <label class="xiaohongzi" style="font-size: 75%">12</label>
                            <label class="jieshao_a" style="font-size: 75%">/</label>
                            <label class="jieshao_a" style="font-size: 75%">115</label>
                        </div>
                        <div style="float: left;margin-left:12px;">
                            <a href="#" class="jieshao_a" style="font-size: 75%">作者名</a><br>
                            <a href="#" class="jieshao_a" style="font-size: 70%">2016-4-1 10:34</a>
                        </div>
                    </div>

                    <div class="hang">
                        <div style="float: left;margin-top: 8px">
                            <img src="/Public/img/up.gif">
                        </div>
                        <div style="float: left;margin-left: 4px;width: 400px">
                            <div style="float: left;margin-top: 13px;margin-left: 14px">
                                <a href="#" class="lid" style="background-color: yellow">置顶帖标题</a>
                            </div>
                            <div style="float: left;margin-top: 10px">
                                <img src="/Public/img/image.gif" title="图片附件">
                            </div>
                        </div>

                        <div style="float: left;margin-left:119px;width: 100px">
                            <a href="#" class="jieshao_a" style="font-size: 75%">作者名</a>
                            <img src="/Public/img/guan.png"><br/>
                            <label class="jieshao_a" style="font-size: 70%">2016-4-1</label>
                        </div>
                        <div style="float: left;margin-left:12px;width: 65px;margin-top: 8px">
                            <label class="xiaohongzi" style="font-size: 75%">12</label>
                            <label class="jieshao_a" style="font-size: 75%">/</label>
                            <label class="jieshao_a" style="font-size: 75%">115</label>
                        </div>
                        <div style="float: left;margin-left:12px;">
                            <a href="#" class="jieshao_a" style="font-size: 75%">作者名</a><br>
                            <a href="#" class="jieshao_a" style="font-size: 70%">2016-4-1 10:34</a>
                        </div>
                    </div>

                </div>

            </div>

            <div style="float: left;width: 845px">
                <div style="height: 26px;width: 830px;margin-right: auto;margin-left: auto;background-color: #f2f2f2">
                    <div >
                        <div style="float: left;margin-left:10px;margin-top: 2px">
                            <a href="#" class="jieshao_a" style="font-size: 80%" title="点击刷新">板块主题 <img
                                    src="/Public/img/refresh.png" title="查看刷新"></a>

                        </div>

                    </div>
                </div>
                <div id="zhutitie" style="margin-right: auto;margin-left: auto">
                    <div class="hang">
                        <div style="height: 40px;width: 830px;border-top: 1px #E6E6E6 solid;">
                            <div style="float: left;margin-top: 8px">
                                <img src="/Public/img/zhuti.gif">
                            </div>
                            <div style="float: left;margin-top: 10px;margin-left: 4px">
                                <a href="#" class="xiaohongzi" style="color:#007cd5;">[各类主题]</a>
                            </div>
                            <div style="float: left;margin-top: 10px;margin-left: 8px;width: 300px">
                                <a href="#" class="jieshao_a" style="font-size: 85%"> 文章标题</a>
                            </div>
                            <div style="float: left;margin-left:145px ;width: 100px">
                                <a href="#" class="jieshao_a" style="font-size: 75% ;">作者名</a><br/>
                                <label class="jieshao_a" style="font-size: 70%">2016-4-1</label>
                            </div>
                            <div style="float: left;margin-left:12px;width: 65px;margin-top: 8px">
                                <label class="xiaohongzi" style="font-size: 75%">12</label>
                                <label class="jieshao_a" style="font-size: 75%">/</label>
                                <label class="jieshao_a" style="font-size: 75%">115</label>
                            </div>
                            <div style="float: left;margin-left:12px;">
                                <a href="#" class="jieshao_a" style="font-size: 75%">作者名</a><br>
                                <a href="#" class="jieshao_a" style="font-size: 70%">2016-4-1 10:34</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div >
            <div class="zlt_border" style="height: 30px;background-color: #F2F2F2;margin-left: -1px;margin-top: 20px;border: 1px #C2D5E3 solid ">
                <div style="margin-right: auto;margin-left: auto;margin-top: 5px;cursor: pointer">
                    <a href="#" class="jieshao_a" style="font-size: 80% ;margin-left: 400px;">下一页  》</a>
                </div>
            </div>

            <div style="float: left;height: 63px;width: 845px">
                <div style="width: 84px;height: auto;float: left;margin-top:10px">
                    <a href="/Admin/index/fatie"><img src="/Public/img/fatie.png"></a>
                </div>
            </div>
            <div style="float: right;width:845px;">
                <div class=" nav" style="height: 40px;width: 846px;float:left;">
                    <div style=";margin-top: 9px;margin-left: 7px;float: left;width: 70px">
                        <label class="jieshao_a" style="font-weight: bolder;">快速发帖</label>
                    </div>
                </div>
            </div>

            <div style="margin-top: -1px ;height: 300px;" class="zlt_border">
                <div style="margin-top: 20px;margin-left: 20px;float: left">
                    <select name="zhuti" class="jieshao_a" >
                        <option value="">选择主题分类</option>
                        <option value="zhuti1"  selected="selected">主题1</option>
                    </select>
                </div>
                <div style="margin-top: 20px;margin-left: 20px ;float: left">
                    <input style="width: 320px"/>
                </div>

                <div style="margin-top: 60px;margin-left: 20px">
                    <script id="container" name="content" type="text/plain"></script>

                </div>
                <div style="margin-top: 5px;margin-left: 20px">
                    <button  style="background-color: #06c; background-position: 0 -48px; border-color: #235994; color: #fff !important;"><strong>发表帖子</strong></button>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    var ue = UE.getEditor('container', {
        initialFrameWidth: 600,
        initialFrameHeight: 140,
        toolbars: [
            ['fullscreen', 'source', 'forecolor', 'redo', 'bold']
    ]
    });

    $('.zbkdh').click(function(){
        $('.bkdh').toggleClass('xianshi')
    })



</script>

