<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><block name="title"></block></title>
    <link rel="stylesheet" type="text/css" href="/Public/css/home_base.css"/>
    <link rel="stylesheet" type="text/css" href="/Public/css/<block name='link'></block>.css"/>
</head>
<body>
<div id="top">
    <div class="collection">
        <span><a href="">设为首页</a></span>
        <span><a href="">收藏本站</a></span>
        <div class="login">
            <span><a href="">登录</a></span>
            <span><a href="">立即注册</a></span>
        </div>
    </div>
</div>
<div id="search">
    <div class="logo"></div>
    <div class="search_list">
        <form action="" method="post">
            <input type="text" placeholder="请输入搜索内容"/>
            <input type="submit" value="搜索" class="btn"/>
        </form>
    </div>
    <div id="phone">
        <h6>7x24小时客服电话</h6>
        <h4>400-8888-8888</h4>
    </div>
</div>
<div id="nav">
    <ul>
        <li style="background-color:#FE9900"><a href="">首页</a></li>
        <li><a href="">论坛</a></li>
        <li><a href="">分类信息</a></li>
        <li><a href="">新闻资讯</a></li>
        <li><a href="">房产</a></li>
        <li><a href="">车辆</a></li>
        <li><a href="">二手市场</a></li>
        <li><a href="">交友</a></li>
    </ul>
    <span>快捷导航</span>
</div>
<div id="nav1">
    <div class="home">
        <span>社区事件</span>
        <ul>
            <li><a href="">社区新闻</a></li>
            <li><a href="">未来风采</a></li>
            <li><a href="">重点项目</a></li>
            <li><a href="">聊聊八卦</a></li>
        </ul>
    </div>
    <div class="shop home">
        <span>休闲购物</span>
        <ul>
            <li><a href="">社区新闻</a></li>
            <li><a href="">未来风采</a></li>
            <li><a href="">重点项目</a></li>
            <li><a href="">聊聊八卦</a></li>
        </ul>
    </div>
    <div class="food home">
        <span>健康美食</span>
        <ul>
            <li><a href="">社区新闻</a></li>
            <li><a href="">未来风采</a></li>
            <li><a href="">重点项目</a></li>
            <li><a href="">聊聊八卦</a></li>
        </ul>
    </div>
    <div class="feel home">
        <span>情感话题</span>
        <ul>
            <li><a href="">社区新闻</a></li>
            <li><a href="">未来风采</a></li>
            <li><a href="">重点项目</a></li>
            <li><a href="">聊聊八卦</a></li>
        </ul>
    </div>
    <div class="house home">
        <span>我爱我家</span>
        <ul>
            <li><a href="">社区新闻</a></li>
            <li><a href="">未来风采</a></li>
            <li><a href="">重点项目</a></li>
            <li><a href="">聊聊八卦</a></li>
        </ul>
    </div>
</div>

<block name="main"></block>
</body>
</html>