<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><block name="title"></block></title>
    <link rel="stylesheet" type="text/css" href="/Public/css/home_base.css"/>
    <link rel="stylesheet" type="text/css" href="/Public/css/{$cs}.css"/>
    <script type="text/javascript" src="/Public/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Public/js/{$js}.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
</head>
<body>
<div id="top">
    <div class="collection">
        <span><a href="">设为首页</a></span>
        <span><a href="">收藏本站</a></span>
    </div>
</div>
<div id="search">
    <div class="logo"></div>
    <div class="search_list">
        <form action="" method="post">
            <input type="text" placeholder="请输入搜索内容"/>
            <input type="submit" value="搜索" class="btn"/>
        </form>
    </div>
    <div id="phone">
        <h6>7x24小时客服电话</h6>
        <h4>400-8888-8888</h4>
    </div>
</div>
<div id="nav">
    <ul>
        <li class="yellow"><a href="/home/index/index">首页</a></li>
        <li><a href="/admin/index/luntan" target="_blank">论坛</a></li>
        <li><a href="">分类信息</a></li>
        <li><a href="">新闻资讯</a></li>
        <li><a href="/home/index/fangchan">房产</a></li>
        <li><a href="">车辆</a></li>
        <li><a href="">二手市场</a></li>
        <li><a href="">交友</a></li>
    </ul>
    <span>快捷导航</span>
</div>
<div id="nav1">
    <div class="home">
        <span>社区事件</span>
        <ul>
            <li><a href="">社区新闻</a></li>
            <li><a href="">未来风采</a></li>
            <li><a href="">重点项目</a></li>
            <li><a href="">聊聊八卦</a></li>
        </ul>
    </div>
    <div class="shop home">
        <span>休闲购物</span>
        <ul>
            <li><a href="">社区新闻</a></li>
            <li><a href="">未来风采</a></li>
            <li><a href="">重点项目</a></li>
            <li><a href="">聊聊八卦</a></li>
        </ul>
    </div>
    <div class="food home">
        <span>健康美食</span>
        <ul>
            <li><a href="">社区新闻</a></li>
            <li><a href="">未来风采</a></li>
            <li><a href="">重点项目</a></li>
            <li><a href="">聊聊八卦</a></li>
        </ul>
    </div>
    <div class="feel home">
        <span>情感话题</span>
        <ul>
            <li><a href="">社区新闻</a></li>
            <li><a href="">未来风采</a></li>
            <li><a href="">重点项目</a></li>
            <li><a href="">聊聊八卦</a></li>
        </ul>
    </div>
    <div class="house home">
        <span>我爱我家</span>
        <ul>
            <li><a href="">社区新闻</a></li>
            <li><a href="">未来风采</a></li>
            <li><a href="">重点项目</a></li>
            <li><a href="">聊聊八卦</a></li>
        </ul>
    </div>
</div>

<block name="main"></block>

<div id="footer">
    <div class="user">
        <p>关于我们</p>
        <ul>
            <li>关于我们</li>
            <li>站点地图</li>
            <li>版权说明</li>
        </ul>
    </div>
    <div class="lianxi">
        <p>联系万家</p>
        <ul>
            <li>联系我们</li>
            <li>意见箱</li>
        </ul>
    </div>
    <div class="hezuo">
        <p>合作交流</p>
        <ul>
            <li>加入我们</li>
            <li>广告服务</li>
        </ul>
    </div>

    <p></p>

    <div class="xiazai">
        <p>下载客户端</p>
        <ul>
            <li><a href=""><i class="huose"></i><span>掌上生活</span></a></li>
            <li><a href=""><i class="zixun"></i><span>安徽资讯</span></a></li>
            <li><a href=""><i class="shequ"></i><span>万家社区</span></a></li>
        </ul>
    </div>

    <p style="margin-left:50px;"></p>

    <div class="guanzhu">
        <p>关注我们</p>
        <ul>
            <li><a href=""><i class="chat"></i><span>微信</span></a></li>
            <li><a href=""><i class="weibo"></i><span>新浪微博</span></a></li>
        </ul>
    </div>
    <div class="banquan">
        Copyright © 2006-2016 365jia.cn 安徽大尺度网络传媒有限公司版权所有
    </div>
    <div class="beian">
        皖公网安备 34010002000003号 经营许可证号：皖B2-20070027   E-mail: 365jia@365jia.cn
    </div>
</div>
</body>
</html>