<extend name="index/base"/>
<block name="title">房产页</block>
<block name="link">home_fangchan</block>

<block name="main">
    <div id="major">
        <div class="daohang">
            <div class="quyu">
                <i></i><span>区域</span>
                <ul>
                    <li><a href="">庐阳区</a></li>
                    <li><a href="">瑶海区</a></li>
                    <li><a href="">蜀山区</a></li>
                    <li><a href="">包河区</a></li>
                    <li><a href="">新站区</a></li>
                    <li><a href="">政务区</a></li>
                    <li><a href="">高新区</a></li>
                    <li><a href="">经开区</a></li>
                    <li><a href="">滨湖区</a></li>
                    <li><a href="">巢湖市</a></li>
                    <li><a href="">肥东县</a></li>
                    <li><a href="">肥西县</a></li>
                    <li><a href="">长丰县</a></li>
                    <li><a href="">庐江县</a></li>
                </ul>
            </div>
            <div class="money">
                <i></i><span>价格</span>
                <ul>
                    <li><a href="">4000以下</a></li>
                    <li><a href="">4000-5000</a></li>
                    <li><a href="">5000-6000</a></li>
                    <li><a href="">6000-7000</a></li>
                    <li><a href="">7000-8000</a></li>
                    <li><a href="">8000-9000</a></li>
                    <li><a href="">一房一价</a></li>
                </ul>
            </div>
            <div class="type">
                <i></i><span>类型</span>
                <ul>
                    <li><a href="">住宅</a></li>
                    <li><a href="">商铺</a></li>
                    <li><a href="">写字楼</a></li>
                    <li><a href="">城市综合体</a></li>
                    <li><a href="">公寓</a></li>
                    <li><a href="">别墅</a></li>
                </ul>
            </div>
        </div>
        <div class="major_mid">
            <p>1个房源号25万？ 滨湖某中介涉嫌倒号要价惊人</p>
            <ul>
                <li><a href="">3月30日行情</a></li>
                <li><a href="">4月开盘预告</a></li>
                <li><a href="">4月优惠楼盘</a></li>
                <li><a href="">3月涨跌榜</a></li>
            </ul>
            <div class="major_mid_1">
                <ul>
                    <li><a href=""><img src="/Public/images/fangchan1.jpg"/></a></li>
                    <li><a href=""><img src="/Public/images/fangchan2.jpg"/></a></li>
                    <li><a href=""><img src="/Public/images/fangchan3.png"/></a></li>
                    <li><a href=""><img src="/Public/images/fangchan4.jpg"/></a></li>
                    <li><a href=""><img src="/Public/images/fangchan5.jpg"/></a></li>
                </ul>
                <ol>
                    <li class="current">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                </ol>
            </div>
        </div>
        <div class="major_right">

        </div>
        <!--广告开始-->
    </div>
</block>