<extend name="index/base"/>
<block name="title">首页</block>
<block name="link">home_index</block>

<block name="main">
<!--广告开始-->
<div class="advert1"></div>
<div class="advert2"></div>
<!--广告结束-->

<!--主要内容开始-->
<div id="major">
    <!--左边开始-->
    <div class="left">
        <div class="left_1">

        </div>
        <div class="left_2">
            <span style="color:#F9BF09">生活</span><span style="color:#3996E2">向导</span>
            <hr />
            <div class="left_2_1">
                <ul>
                    <li><a href="" class="bt">[家电数码]</a><a href="">10月1号苏宁全场清场大甩卖</a></li>
                    <li><a href="" class="bt">[房产]</a><a href="">绿地房产全球大甩卖</a></li>
                    <li><a href="" class="bt">[宠物乐园]</a><a href="">萌宠来袭，有你喜欢的吗</a></li>
                    <li><a href="" class="bt">[餐饮美食]</a><a href="">大学生的美食分享</a></li>
                    <li><a href="" class="bt">[二手市场]</a><a href="">特价包邮老板家用油烟机，不锈钢架子</a></li>
                    <li><a href="" class="bt">[生活娱乐]</a><a href="">合肥首家机器人主题KTV亮相</a></li>
                    <li><a href="" class="bt">[生活娱乐]</a><a href="">合肥首家机器人主题KTV亮相</a></li>
                    <li><a href="" class="bt">[生活娱乐]</a><a href="">合肥首家机器人主题KTV亮相</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--左边结束-->

    <!--中间开始-->
    <div class="mid">
        <div class="mid_1">
            <span><a href="">热点</a></span><h3>合肥因雾霾首次排名全国前三</h3>
            <p>中国城市空气污染排行 11日9时发布的信息显示，合肥污染指数已达373，位列全国第一。</p>
            <ul>
                <li><a href="" class="bt">[家电数码]</a><a href="">10月1号苏宁全场清场大甩卖</a></li>
                <li><a href="" class="bt">[房产]</a><a href="">绿地房产全球大甩卖</a></li>
                <li><a href="" class="bt">[宠物乐园]</a><a href="">萌宠来袭，有你喜欢的吗</a></li>
                <li><a href="" class="bt">[餐饮美食]</a><a href="">大学生的美食分享</a></li>
            </ul>
        </div>
        <div class="mid_2">
            <span><a href="">爆料</a></span><h3>马雅舒时隔多年手撕吴奇隆</h3>
            <ul>
                <li><a href="" class="bt">[国内]</a><a href="">林嘉欣重提曾被指是小三一事 称无须解释</a></li>
                <li><a href="" class="bt">[韩国]</a><a href="">借花献佛?朱相昱疑将粉丝礼物送女友</a></li>
                <li><a href="" class="bt">[日本]</a><a href="">日本选出国内最可爱女生，再次雷倒世界</a></li>
                <li><a href="" class="bt">[音乐]</a><a href="">EXO拼盘主办称是受害者:中介违约又失联</a></li>
            </ul>
        </div>
        <div class="mid_3">
            <span><a href="">生活</a></span><h3>北外高招首次启动综合评价招生</h3>
            <ul>
                <li><a href="" class="bt">[教育]</a><a href="">10月1号苏宁全场清场大甩卖</a></li>
                <li><a href="" class="bt">[商家]</a><a href="">绿地房产全球大甩卖</a></li>
                <li><a href="" class="bt">[宠物乐园]</a><a href="">萌宠来袭，有你喜欢的吗</a></li>
                <li><a href="" class="bt">[餐饮美食]</a><a href="">大学生的美食分享</a></li>
            </ul>
        </div>
        <div class="mid_4">
            <p>回音壁</p>
            <ul>
                <li><a href="" class="bt">报料</a><a href="">有人知道全国哪里的房子最便宜吗？</a></li>
                <li><a href="" class="bt">回应</a><a href="">中国有房子最便宜的吗？你可以到山里去，或者到沟里去自己盖</a><span><a href="">[详细]</a></span></li>
             </ul>
        </div>
    </div>
    <!--中间结束-->

    <!--右边开始-->
    <div class="right">
        <div class="weather">
            <div class="weather_list">
                <iframe width="280" scrolling="no" height="25" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=34&icon=1&num=3"></iframe>
            </div>
            <div class="right_login">
                <div>
                    <span>HI!{$Think.session.name}<br/></span>

                    <if condition="$Think.session.name NEQ null">
                        <span><a href="/Home/index/login_out">退出</a></span>
                    </if>

                    <input type="hidden" value="{$Think.session.name}"/>
                </div>
                <button type="button" class="login">会员登录</button>
                <a href="/Home/register/register"><button type="button" class="register">马上注册</button></a>
            </div>
            <div class="photo">
                <img src="/Public/images/photo.png" />
            </div>
        </div>
        <!--登录页面-->
        <div class="login_list">
            <p>快速登录 <span></span></p>
            <div class="login_list_1">
                <form method="post" action="/home/index/login_save">
                    <p><label>用户名: </label><input type="text" name="name" placeholder="请填写用户名"/></p>
                    <p><label>密码: </label><input type="password" name="password" placeholder="请正确填写密码"/></p>
                    <input type="submit" value="登录" class="submit"/>
                </form>
            </div>
        </div>

        <div class="message">
            <h3>便民<span>信息</span></h3>
            <ul>
                <li><a href="" target="_blank">天气</a></li>
                <li><a href="" target="_blank">地图</a></li>
                <li><a href="" target="_blank">交违</a></li>
                <li><a href="" target="_blank">水电</a></li>
                <li><a href="" target="_blank">求职</a></li>
                <li><a href="" target="_blank">招聘</a></li>
                <li><a href="" target="_blank">美食</a></li>
                <li><a href="" target="_blank">占外卖</a></li>
                <li><a href="" target="_blank">热点</a></li>
                <li><a href="" target="_blank">婚庆</a></li>
                <li><a href="" target="_blank">装修</a></li>
                <li><a href="" target="_blank">房产</a></li>
            </ul>
        </div>

        <div style="width:260px;height:260px;border:#ccc solid 1px;" id="dituContent"></div>
    </div>
    <!--右边结束-->
</div>
<!--主要内容结束-->

    <!--广告开始-->
 <div class="advert3">

 </div>
    <!--广告结束-->
</block>