<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人空间</title>
    <link href="/Public/css/psshow.css" rel="stylesheet" type="text/css"/>
    <link href="/Public/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
</head>
<body>

<div id="bjtlft">

</div>
<div id="centre">
    <div id="touxiang">

    </div>
    <div id="daohang">
        <ul>
            <li id="zhuye"><a  href="">主页</a></li>
            <li id="liuyan"><a  href="">留言板</a></li>
            <li id="rizhi"><a  href="">日志</a></li>
            <li id="say"><a  href="">说说</a></li>
            <li id="tuxiang"><a  href="">相册</a></li>
            <li id="more"><a  href="">更多</a></li>
        </ul>
    </div>
</div>


<div id="bjtrgt">

</div>


</body>
</html>
