<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人空间</title>
    <link href="/Public/css/psshow.css" rel="stylesheet" type="text/css"/>
    <link href="/Public/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
</head>
<body>

<div id="bjtlft">

</div>
<div id="touxiang">
    <div id="centre">
        <ul>
            <li><a class="lft" href="">主页</a></li>
            <li><a class="rgt" href="">日志</a></li>
            <li><a class="lft" href="">相册</a></li>
            <li><a class="rgt" href="">留言板</a></li>
            <li><a class="lft" href="">说说</a></li>
            <li><a class="rgt" href="">个人档</a></li>
            <li><a class="lft" href="">时光轴</a></li>
            <li><a class="rgt" href="">更多</a></li>
        </ul>
    </div>
</div>


<div id="bjtrgt">

</div>


</body>
</html>