<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/Public/css/register.css" rel="stylesheet" type="text/css"/>
    <link href="/Public/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="header">
    <div class="headerlft">
        已经注册？<a href="">请登陆</a>
    </div>
    <div class="headerrgt">
        <a href="">毅宝首页</a>
        <a href="">手机毅宝</a>
        <a href="">简版首页</a>
        <a href="">帮助中心</a>
    </div>
</div>
<div id="body">
    <div id="log">
    </div>
    <div id="zhuce">
        <div class="zhuce_lft">
            <span class="zhuce_header_zi">用户注册</span>
        </div>
        <div class="zhuce_rgt">
            <span class="zhuce_header_zi">注册完成</span>
        </div>
        <div class="form"style="display: none" >
            <form method="post" action="">
                <div class="lb">
                    <label>用户名</label>
                </div>
                <div class="ipt">
                    <input type="text" name="username"/>
                </div>
                <div class="lb">
                    <label>密码</label>
                </div>
                <div class="ipt">
                    <input type="password" name="password"/>
                </div>
                <div class="lb">
                    <label>确认密码</label>
                </div>
                <div class="ipt">
                    <input type="password" name="repassword"/>
                </div>
                <div class="lb">
                    <label>邮箱验证</label>
                </div>
                <div class="ipt">
                    <input type="text" name="email"/>
                </div>
                <div class="lb">
                    <label>验证码</label>
                </div>
                <div class="ipt">
                    <input type="text" name="yzm"/>
                </div>
                <div class="ipt">
                    <img src="/home/register/yanZhenMa">
                </div>
                <div class="ipt">
                    <div class="tj">
                        <input type="submit" value="立即注册" class="btn btn-info"/>
                    </div>
                </div>
            </form>
        </div>
        <div id="zhucewanchen" >
            <h3>恭喜您：注册成功</h3>
                <a  class="cg_lft" href="">跳回首页</a>
                <a class="cg_rgt" href="">进入个人中心</a>
        </div>
    </div>
</div>
<div id="footer">

</div>
</body>
</html>