<extend name="Admin/base"/>
<block name="main">
    <span>详细信息页</span>
    <div class="right_list">
        <table class="table table-border">
            <tr>
                <th>id</th>
                <th>用户名</th>
                <th>年龄</th>
                <th>性别</th>
                <th>邮箱</th>
                <th>创建时间</th>
                <if condition="in_array('删除用户',$_SESSION['perm'])||in_array('权限修改',$_SESSION['perm'])">
                    <th>操作</th>
                </if>
            </tr>
            <foreach name="user" item="arr">

                    <td>{$arr.id}</td>
                    <td>{$arr.name}</td>
                    <td>{$arr.age}</td>
                    <td>{$arr.gender}</td>
                    <td>{$arr.email}</td>
                    <td>{$arr.created_at}</td>

                <if condition="in_array('删除用户',$_SESSION['perm'])">
                    <td style="width: 40px"><a name="delete" href="">删除</a></td>
                </if>

                <if condition="in_array('权限修改',$_SESSION['perm'])">
                    <td style="width: 70px"><a href="/admin/admin/change_role_prem/id/{$arr.id}" name="change_role_perm">权限修改</a></td>
                </if>


                </tr>
            </foreach>
        </table>
    </div>
</block>