#bd
{
    height: 400px;
    width: 400px;
    border: 1px solid #e0e0e0;
}

#form
{
    width: 320px;
    height: 450px;
    margin: 20px 0 0 45px;
    text-align: center;

}

.label
{

    float: left;
    width: 130px;
    height: 25px;
    margin-top: 10px;
}

.input
{

    float: left;
    width: 150px;
    height: 24px;

}
.input input
{
    width: auto;
}

.input #gender
{
    width: 143px;
}

#sbmt input
{
    margin: 10px 0 0 0;
}
