li
{
    list-style-type: none;
}
#bjtlft
{
    height: 620px;
    width: 39%;
    background: url('../images/beijinl.jpg') no-repeat;
    float: left;
    margin-left: 20px;
}

#centre
{
    height: 600px;
    width: 20%;
    float: left;
    margin-left: 2px;
}

#touxiang
{

    background: url('../images/shili.png') no-repeat;
    height: 250px;
    width: 100%;
    margin-left: 1px;
    background-size: 100%;
}

#daohang
{
    margin-top: 40px;
    height: 400px;
    width: 100%;
    background: url('../images/taijie.jpg') no-repeat;
    background-size: 100%;
    position: relative;
}

#daohang ul
{

    position: absolute;
    top: 140px;
    left: 100px;
    
}

#daohang #zhuye
{
    margin-left: 6px;

}

#daohang #liuyan
{
    margin-left: 20px;
    margin-top: 7px;
}

#daohang #rizhi
{
    margin-left: 28px;
    margin-top: 7px;
}

#daohang #say
{
    margin-left: 30px;
    margin-top: 6px;
}

#daohang #tuxiang
{
    margin-left: 18px;
    margin-top: 7px;
}

#daohang #more
{
    margin-left: 1px;
    margin-top: 9px;
}



#bjtrgt
{
    height: 620px;
    width: 36%;
    background: url('../images/beijinr.jpg');
    float: right;
    margin-right: 18px;
 }



